/* PRESCRIZIONI GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Courier New", sans-serif;
}
.page {
  width: 80%;
  /* height: 100vh; */
  margin: 15px auto;
  /* background-color: lightgrey; */
}

/* INTESTAZIONE */
.logo {
  height: 80px;
  margin-bottom: 1px;
  background-color: #d794d2;
}
.menu {
  height: 40px;
  margin-bottom: 15px;
  background-color: #d794d2;
}

/* CORPO */
.slider {
  height: 300px;
  margin-bottom: 15px;
  background-color: #e0d35a;
}
.content {
  margin-bottom: 5px;
  background-color: #0ba4cd;
}
.content::after {
  content: "";
  display: table;
  clear: both;
}
.title {
  height: 80px;
  margin-bottom: 10px;
  background-color: #6ecae3;
}
.col {
  float: left;
  height: 400px;
  margin-bottom: 10px;
  background-color: #6ecae3;
}
.col.left,
.col.right {
  width: 20%;
}
.col.middle {
  width: 58%;
  margin: 0 1%;
}

/* FOOTER */
footer {
  height: 40px;
  background-color: #d55fc1;
}

/**************************************************/

/* EXTRA */
div, footer {
  position: relative;
}
header div[class]::before,
main div[class]::before,
footer::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70px;
  padding: 5px 10px;
  border-radius: 10px;
  text-align: center;
  color: rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.1);
}
.logo:before {
  content: "logo";
}
.menu:before {
  content: "menu";
}
.slider:before {
  content: "slider";
}
.title:before {
  content: "title";
}
.col:before {
  content: "column";
}
.menu:before {
  content: "menu";
}
footer:before {
  content: "footer";
}
